.react-multi-carousel-dot > button{
    background-color: #83b2ec;
    border: 0px !important;
    width: 10px !important;
    height: 10px !important;
}
.react-multi-carousel-dot--active > button{
    background-color: #0765DA !important;
}